*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #f7f7f7;
    color: #000;
}

.container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: linear-gradient(45deg, #4a148c, #3a2430);
    padding: 20px 0;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile .text h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #ccc;
}

.profile .text h3{
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin-top: 16px;
}


nav ul a{
    color: #ccc;
    text-decoration: none;
    padding: 0 12px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

section{
    padding: 50px 0;
}

section h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.profile{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba (0, 0 , 0, 0.2);
    margin-bottom: 20px;
}
.profile h3{
    font-size:20px;
    margin-bottom: 10px;
}

.project p{
    color: #666;

}
.skill{
    margin-bottom: 20px;

}
.skill h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.progress-bar{
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 20px;
    overflow: hidden;

}
.progress{
    background-color: #4e544e;
    height: 100%;
}
#footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 16px;
}